.env.development
.env
go.sum
logs/
storage/
.config.development.yaml
.config.production.yaml
.config.yaml
.claude
.DS_Store
.idea/
.vscode/
*.log
*.tmp
*.bak
*.swp
*.swo
*.zip
build/
dist/
.build/
.claude
shop_project_be